body {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

.displayLower, .displayUpper {
    display: flex;
    flex-grow: 1;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    
    border: 5px solid black;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 20px;
    align-items: flex-end;
    border-bottom: 5px solid black;
    
    background-color: lightslategray;
}


.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.buttons button {
    color: black;
    height: 100px;
    width: 100px;
    font-weight: 600;
}

