body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.display {
    padding: 100px;
    border: solid;
    border-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 50px;
    align-items: flex-end;
}


.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.buttons button {
    color: red;
    height: 100px;
    width: 100px;
}

